language: java
jdk:
- oraclejdk8
branches:
  only:
    - master
before_deploy:
  - git config --global user.email ${GITHUB_EMAIL}
  - git config --global user.name ${GITHUB_NAME}
  - git tag HMCL-${VERSION_ROOT}.${TRAVIS_BUILD_NUMBER}
  - git push -q ${REPO} --tags
deploy:
  provider: releases
  api_key:
    secure: juCHGP7NTiaSQKTZpFV/sqLiOlG88niI27pg+rUYdjdVI5BtO5EepYoIbmRZ7xk3j6sacOYyqyFu4GaL3+LOjqtwqua2CkOm1/rKPj02gWWsyenKCu1gSLmDYz6xwRgDNMcFBcKf6Z7tnNdKc1QTwQhblcKXUk7asoSVMFxevYhKmjpsBSc1rsbhgBX6kMshjKzc+lke83t/M+wPAVn/ud2uLaln3GDv65f7M05hLGct54irPUWd7FG9adbH3o63nKyn4A0JbNY9seMbvwu/yNjfWXVQ5mjb6goZhOIPDTx5snTa75jgRGimJx8IshxVbMPcE8BvfM/9YpP+7lV/rjo5yQSXnFkqAFVKOdSMOm/xcG0RVADW4JbWziNAF2ZFqqSgKNvqkNb3p87RtjZR4X9k9PVtaj5aextTSRrugX/HlvDWDVf8qUjLOtIx/oC4nRCOoQTZk4u0KRP8O99GLA6X86fzhT7K6dRahSCQ18KIFWcvvkeHtj642w8/D9SsGwlUIPqDETC/VCxm0MX8iL5JIUGiNEhCphlwhtphci9XURLW0MCwmqZMDCyVtqo61VsQ4Y41kBYI5CNukGVm587mnWQfYWuzPaTh09pft9PFGZ1iAC+aKPvwlNxY720Hmf4mi6QPl0wKjrnRq50hI58sqRaTh3n0Lyb5A+Wojl0=
  file:
  - HMCL/build/libs/HMCL-${VERSION_ROOT}.${TRAVIS_BUILD_NUMBER}.jar
  - HMCL/build/libs/HMCL-${VERSION_ROOT}.${TRAVIS_BUILD_NUMBER}.exe
  on:
    repo: cyilin/HMCL
    tags: false
  skip_cleanup: true
install: echo "skip 'gradle assemble' step"
script: gradle build --continue
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
